<div class="wrapper">
  <header>
    <div class="container-fluid">
      <div class="top-row">
        <img src="assets/images/logo.png" alt="" />

        <div class="menu-col">
          <a href="#">Get the app</a>
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <h3>Spur newsletter? Enter your email</h3>
    <div class="form">
      <div class="form-group">
        <input placeholder="Email Address" type="text" class="form-control" id="email">
        <input type="button" value="send">
      </div>
    </div>

    <ul>
      <li><a href="#">Press</a></li>
      <li>|</li>
      <li><a href="#">Help</a></li>
    </ul>

    <ul class="social-icon">
      <li><a href="#"><img src="assets/images/facebook-icon.png" alt="" /></a></li>
      <li><a href="#"><img src="assets/images/twitter-icon.png" alt="" /></a></li>
      <li><a href="#"><img src="assets/images/instagram-icon.png" alt="" /></a>
      <li>
    </ul>

  </footer>
</div>