@font-face {
    font-family: 'CenturyGothic';
    src: url('assets/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  
    url('assets/fonts/CenturyGothic.woff') format('woff'),
     url('assets/fonts/CenturyGothic.ttf')  format('truetype'), 
     url('assets/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  a[href^=tel] { color: inherit; text-decoration: none;}
  
  ::selection {color:#fff;background:#ff4fb4;}
  ::-moz-selection {color:#fff;background:#ff4fb4;}
  
  body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #000;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  	color: #000;
	margin:10px 0;
}
h2{
	font-size:40px;
	line-height: 1.2;
	color: #099b63;
}
h2 span{
	color: #921313;
	font-weight: 600;
}
h3{
font-size: 30px;
line-height: 1.2;
color:green;
}
h3 span{
color:maroon;
font-weight: 500;
}
h4{
font-size:20px;
line-height: 1.2;
color: #646464;

}
h5{
	font-size: 20px;
	line-height: 1.2;
	color: #f08d27;
}


.btn {
	border: 0;
	border-radius: 0;
}

.btn.btn-primary:hover {
  	background-color: #017fb5;
}

a {
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus, 
a:hover {
	text-decoration: none;
	outline: none;
}
p{
 font-size:20px;
 line-height:27px;
 color:#646464;
 font-weight:400;
}

ul{
	padding:0;
	margin:0;
	list-style:none;
}


/*==============Global css==================*/
.wrapper {
	width: 100%;
	position: relative;
}
.top-row{
	display: flex;
	justify-content: space-between;
}
.logo{
	margin-top:30px;
	width: 289px;
	height: 47px;
}
.menu-col a{
	background:#ec871f;
	text-align: center;
	border-radius: 50px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	padding:20px 35px;
	margin-top:20px;
	display: block;
	float: left;
	margin-right: 30px;
}
.menu-col a:hover{
	background: #017fb5;
}
.menu-col i{
	font-size:50px;
	color: #ec871f;
	margin-top: 25px;
	cursor: pointer;
}
.banner{
	margin-top: 30px;
	display: flex;
}
.banner img{
	width:100%;
	height:100%;
}
.main-body h2{
	padding-top:30px;
}
.about-row{
	background: #edf8ff;
	border-radius: 30px;
	padding: 25px;
	margin: 30px 0;
}
.about-row ul li{
	font-size: 40px;
	color: #000;
	line-height: 141px;	
	margin: 25px 0;
}
.about-row ul li a{
	color: #000;	
}
.about-row ul li a:hover{
	color: #017fb5;
}
.fa-about{
	background: url(assets/images/about-2.png) 0 0 no-repeat;
	height: 141px;
	width: 157px;
	float: left;
	margin-right:35px;
}
.fa-ingradients{
	background: url(assets/images/ingradients-2.png) 0 0 no-repeat;
	height: 141px;
	width: 157px;
	float: left;
	margin-right:35px;
}
.fa-trace{
	background: url(assets/images/trace-2.png) 0 0 no-repeat;
	height: 141px;
	width: 157px;
	float: left;
	margin-right:35px;
}
.fa-nutrition img{
	height: 141px;
	width: 157px;
	margin-right:35px;
}
footer{
	text-align: center;	
	background: #fff;
}
footer from{
	margin: 20px 0;
	display: inline-block;
	width: 40%;
}
footer from input[type="text"]{
	border:solid 2px #000;
	height: 60px;
	border-radius:40px 0 0 40px;
	width: 70%;
	float: left;
	border-right:none;
	font-size: 20px;
	color: #ccc;
	padding-left:32px;
}
footer from input[type="button"]{
	border:solid 2px #000;
	height: 60px;
	width: 30%;
	float: left;
	background: #f08d27;
	border-radius:0 40px 40px 0;
	border-left:none;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;	
}
footer ul li{
	font-size: 20px;
	color: #000;
	display: inline;
	text-transform: uppercase;
	padding:10px;
	font-weight: 600;
}
footer ul li a{
	color: #000;
}
footer ul li a:hover{
	color: #017fb5;
}
.social-icon{
	margin: 30px 0;
}


.w3-border-right {
    border-right: 1px solid #ccc !important;
}
.w3-sidebar {
    height: 100%;
    width:300px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
	overflow: auto;
	right: 0;
	padding: 25px;
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.w3-button{
	font-size: 30px;
	border: none;
	background: none;	
	color: #f08d27;	
}
.w3-sidebar ul li{
	font-size:30px;
	color: #000;
	margin: 70px 0;
	font-weight: 500;
}
.w3-sidebar ul li a{
	color: #000;
	border-bottom: solid 3px #fff;
	padding-bottom:0px;
}
.w3-sidebar ul li a:hover{
	color: #017fb5;
	border-bottom: solid 3px #017fb5;
}
.w3-bar-item{
	border: none;
	background: none;
	font-size: 20px;
	font-weight:500;
	color: #ec871f;
}
.ingradients-heading{
	display: flex;	
	justify-content: start;	
	line-height: 141px;	
}
.ingradients-row{
	background: #edf8ff;
	border-radius: 30px;
	padding: 25px;
}
.ingradients-row p{
	font-size: 20px;
	color: #000;
	font-weight: 500;
	padding-top: 25px;
	text-align: center;
	line-height: 25px;
}
.ingradients-row p span{
	display: block;
}
.nutrition-row{ 	
	font-weight: 300;
}
.nutrition-row a{ 
	font-display:center;
}
.element-row{
	display:inline-block;
	margin: 30px 0 50px;
}
.element{
	width: 50%;
	float: left;
}
.element-details{
	width:30%;
	float: left;
}
.element-details ul{
	margin-top:20px;
	margin-left:30px;
}
.element-details ul li{
	font-size: 17px;
	color: #000;
	padding: 20px 0;
	line-height: 20px;
	width: 100%;
	display: flex;
}
.element-details ul li aside{
	background: #017fb5;
	width: 17px;
	height: 16px;
	display: inline-block;
	margin-right:10px;
}
.home-row{
	background: #edf8ff;
	border-radius: 30px;
	padding: 25px;
	margin: 25px 0;
}
.home-row p{
	font-size: 20px;
	color: #000;
	font-weight: 500;
	padding-top: 25px;
	text-align: center;
	line-height: 25px;
}
.home-row p span{
	display: block;
}
.qr-scaner{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	display: inline-block;
	margin: 30px 0;
}