<div class="banner">
  <img src="assets/images/banner.jpg" alt="" />
</div>
<section class="main-body">
  <div class="container-fluid">
    <h2>Lamb curry</h2>
    <p>Lamb Curry made in an hour with and easy homemade curry spice mix and creamy tomato sauce, simmered on low heat
      until fall apart tender.</p>
    <div class="about-row">
      <ul>
        <li><a href="#"><i class="fa fa-about"></i> About This Place</a></li>
        <li><a href="#"><i class="fa fa-ingradients"></i> Ingradients</a></li>
        <li><a href="#"><i class="fa fa-trace"></i> Trace</a></li>
        <li><a href="#"><i class="fa fa-nutrition"></i> Nutrition</a></li>
      </ul>
    </div>
  </div>
</section>