<div class="banner">
  <img src="assets/images/banner.jpg" alt="" />
</div>

<div class="title-bar">
  <a href="#">Lamb curry</a>
</div>

<div class="description">
  <a href="#">Lamb Curry made in an hour with and easy homemade curry spice mix and creamy tomato sauce, simmered on low
    heat until fall apart tender.</a>
</div>

<div class="about">
  <div class="top-row">
    <img src="assets/images/about .jpg" alt="" />
    <div class="About">
      <a href="#">About This Place</a>
    </div>
  </div>
</div>
<div class="ingradient">
  <div class="top-row">
    <img src="assets/images/ingradient.jpg" alt="" />
    <a href="#">Ingradients</a>
  </div>
</div>
<div class="trace">
  <div class="top-row">
    <img src="assets/images/Trace.jpg" alt="" />
    <a href="#">Trace</a>
  </div>
</div>
<div class="nutri">
  <div class="top-row">
    <img src="assets/images/Nutri.jpg" alt="" />
    <a href="#">Nutrition</a>
  </div>
</div>